body {
    padding: 10px;
}

@font-face {
    font-family: 'itc-serif-gothic-lt-heavy.ttf';
    src: url('assets/itc-serif-gothic-lt-heavy.ttf');
}

#message-board-title {
    color: orange;
    font-family: 'itc-serif-gothic-lt-heavy.ttf';
    text-align: center;
}

.message-container {
    padding: 10px;
}

.message {
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
}

.message-title {
    float: left;
}

.message-created-date {
    float: right;
}

.comment-container {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
    margin-left: 40px;
}

.comment-form {
    overflow: hidden;
}

.comment-text-area {
    float: right;
}

.comment-posted-date {
    font-size: small;
}

.comment-submit {
    float: right;
}

#post-form {
    margin: auto;
    padding: 10px;
    width: 330px;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
}

.movie-pic {
    border-radius: 50%;
}

#title {
    width: 300px;
}

#row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#thing-pic {
    margin-left: 100px;
}
